<app-header></app-header>
<div class="container-fluid">
    <h2>M-Tracker -> Dashboard | Home</h2>
    <hr>
    <h2>Quickly Access</h2>
    <div class="row">
        <mat-card class="p-3 m-2">
            <p>Quick Actions</p>
            <div class="col">
                <a routerLink="/dashboard/{{adminId}}/home/lists" class="btn btn-primary">Users Lists</a>
                <a routerLink="/dashboard/{{adminId}}/home/create" class="btn btn-primary">Create New User</a>
                <a routerLink="/dashboard/{{adminId}}/home/manage" class="btn btn-primary">Manage Users</a>
                <a routerLink="/dashboard/{{adminId}}/home/notes" class="btn btn-primary">Create Notes</a>
            </div>
        </mat-card>
    </div><br>
    <h2>All Features</h2>
    <div class="row">
        <div class="col" id="left-col">
            <mat-card class="p-3">
                <p>Inbox (All messages will appear here)</p>
                <div *ngIf="visibleUsers.length > 0; else noRequest">
                    <div *ngFor="let data of allWFH;">
                        <div *ngIf="!data.isHidden">
                            <span>Request from {{data.name}} | Message: {{data.message}}</span>
                            <button class="btn btn-primary m-2" (click)="approved(data)">Approved</button>
                            <button class="btn btn-danger" (click)="reject(data)">Reject</button>
                        </div>
                    </div>
                </div>
                <ng-template #noRequest>
                    <div [ngStyle] = "{'color': isSuccess ? 'green' : 'red'}" class="bottom-message alert alert-info text-center" role="alert" *ngIf="approvedMessage">
                        {{approvedMessage}}
                    </div>
                    <p>No active requests.</p>
                 </ng-template>
            </mat-card>
            <mat-card class="p-3">
                <p> Date & Time (Current date & time)</p>
                <span>Date: {{current_date}} | Time: {{current_time}}</span>
            </mat-card>
            <mat-card class="p-3">
                <p>Working From Home (Employee working WFH)</p>
                <span>No employee working from home!</span>
            </mat-card>
            <mat-card class="p-3">
                <p>Coming Date (Upcoming employee date)</p>
                <span>Upcoming!</span>
            </mat-card>
        </div>
        <div class="col">
            <h2>Notes (All notes will appear here)</h2>
            <div [ngStyle] = "{'color': isSuccess ? 'green' : 'red'}" class="bottom-message alert alert-info text-center" role="alert" *ngIf="message">
                {{message}}
              </div>
            <mat-card class="p-3" id="my-card">
                <mat-list class="list" *ngFor="let notes of allNotes;">
                    <mat-list-item *ngIf="notes">{{notes.note}} <a (click)="deleteNote(notes.id)" title="Delete note"> <mat-icon aria-hidden="false" fontIcon="close"></mat-icon></a></mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </mat-card>
        </div>
    </div>
</div>
<app-footer></app-footer>