<app-header></app-header>
<div class="container-fluid">
  <h2>M-Tracker -> Home -> Create User</h2>
  <hr>
  <h2>Create New User</h2>
  <div class="row-2">
    <div class="col">
      <mat-card>
        <form [formGroup]="createUserForm" (ngSubmit)="createUser()">
          <input type="text" class="form-control" placeholder="Full name.. " formControlName="name">
          <div *ngIf="submitted && createUserForm.get('name')?.invalid">
            <small *ngIf="createUserForm.get('name')?.errors?.['required']" class="alert alert-danger">
              Name is required...!
            </small>
            <small *ngIf="createUserForm.get('name')?.errors?.['pattern']" class="alert alert-danger">
              Invalid Name...!
            </small>
            <small *ngIf="createUserForm.get('name')?.errors?.['minlength']" class="alert alert-danger">
              Name can't be less than 5 characters..!
            </small>
          </div>
          <input type="text" class="form-control" placeholder="Email.. abc@gmail.com" formControlName="email">
          <div *ngIf="submitted && createUserForm.get('email')?.invalid">
            <small *ngIf="createUserForm.get('email')?.errors?.['required']" class="alert alert-danger">
              Email is required..!
            </small>
            <small *ngIf="createUserForm.get('email')?.errors?.['email']" class="alert alert-danger">
              Invalid email..!
            </small>
          </div>
          <input type="text" class="form-control" placeholder="Mobile.." formControlName="mobile">
          <div *ngIf="submitted && createUserForm.get('mobile')?.invalid">
            <small *ngIf="createUserForm.get('mobile')?.errors?.['required']" class="alert alert-danger">
              Mobile number is required..!
            </small>
            <small *ngIf="createUserForm.get('mobile')?.errors?.['pattern']" class="alert alert-danger">
              Invalid mobile number...!
            </small>
          </div>
          <input type="text" class="form-control" placeholder="Period date..  YYYY-MM-DD" formControlName="p_date">
          <div *ngIf="submitted && createUserForm.get('p_date')?.invalid">
            <small *ngIf="createUserForm.get('p_date')?.errors?.['required']" class="alert alert-danger">
              Date is required..!
            </small>
            <small *ngIf="createUserForm.get('p_date')?.errors?.['pattern']" class="alert alert-danger">
              Invalid date..!
            </small>
          </div>
          <input type="text" class="form-control" placeholder="Created date.. YYYY-MM-DD" name="c_date" formControlName="created_date">
          <div *ngIf="submitted && createUserForm.get('created_date')?.invalid">
            <small *ngIf="submitted && createUserForm.get('created_date')?.errors?.['required']" class="alert alert-danger">
              Date is required..!
            </small>
            <small *ngIf="submitted && createUserForm.get('created_date')?.errors?.['pattern']" class="alert alert-danger">
              Invalid date...!
            </small>
          </div>
          <select class="form-control" (change)="onchange()" [(ngModel)]="dept" name="dept" formControlName="department">
            <option value="" >Choose department...</option>
            <option *ngFor="let d of departments" [value]="d.department">{{d.department}}</option>
          </select>
          <div *ngIf="submitted && createUserForm.get('department')?.invalid">
            <small *ngIf="submitted && createUserForm.get('department')?.errors?.['required']" class="alert alert-danger">
              Department is required..!
            </small>
          </div>
          <select class="form-control" formControlName="reporting_manager">
            <option value="">Reporting manager...</option>
            <option *ngFor="let m of managers" [value]="m">{{m}}</option>
          </select>
          <div *ngIf="submitted && createUserForm.get('reporting_manager')?.invalid">
            <small *ngIf="submitted && createUserForm.get('reporting_manager')?.errors?.['required']" class="alert alert-danger">
              Manager is required..!
            </small>
          </div>
          <input type="text" class = "form-control" placeholder="User dummy password...">
          <div *ngIf="submitted && createUserForm.get('password')?.invalid">
            <small *ngIf="createUserForm.get('password')?.errors?.['required']"  class="alert alert-danger">
              Password is required...!
            </small>
          </div>
          <div *ngIf="message">
            <small class="alert alert-success">{{message}}</small>
          </div>
          <button class="btn btn-primary" >Create User</button>
        </form>
      </mat-card>
    </div>
  </div>
</div>
<app-footer id="my-footer"></app-footer>