.container-fluid{
    height: 100vh;
    position: fixed;
    padding: 10px;
}
.container-fluid img{
    margin: 0px 100px;
}
.container h1{
    letter-spacing: 4px;
    font-size: 40px;
}
.col{
    margin: 200px 0px;
}
.col form{
    padding: 10px;
    margin: 20px 0px;
    max-height: 70vh;
    height: 70vh;
    overflow-y: auto;
}
.col form input{
    padding: 20px;
    margin:40px 0px;
    font-size: 18px;
}
.col form button{
    padding: 15px 50px;
    font-size: 18px;
}
.col form span{
    margin: 0px 20px;
    font-size: 20px;
}
.col form span a{
    margin: 0px 5px;
}
.col form span #f_pass{
   float: right;
   margin: 10px 0px;
}
.col form p{
    margin: 10px 5px;
    font-size: 20px;
}
small{
    color: red;
    position: relative;
    top: -20px;
    font-size: 16px;
    display: block;
}