<app-header></app-header>
<div class="container-fluid">
    <h2>M-Tracker -> Home -> Admin Profile</h2>
    <hr>
    <h2>Admin Details</h2>
    <div class="row-2">
        <div class="col">
            <mat-card>
                <mat-list>
                    <mat-list-item><p>ID: {{adminDetails.id}}</p></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item><p>Full Name: {{adminDetails.fname}}</p></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item><p>Email: {{adminDetails.email}}</p></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item><p>Mobile: {{adminDetails.mobile}}</p></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item><p>Gender: {{adminDetails.gender.charAt(0).toUpperCase() + adminDetails.gender.slice(1)}}</p></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item><p>Password Hint: {{adminDetails.password_hint}}</p></mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <a routerLink="/dashboard/{{adminId}}/home" class="btn btn-primary">Go Dashboard</a>
                    </mat-list-item>
                   </mat-list>
            </mat-card>
        </div>
    </div>
</div>
<app-footer></app-footer>