<div class="social">
  <span>Connect with us: </span>
  <a href="https://www.linkedin.com/in/vivek-kumar-v/" target="_blank" class="fa fa-linkedin"></a>
  <a href="#" class="fa fa-facebook" target="_blank"></a>
  <a href="#" class="fa fa-instagram" target="_blank"></a>
  <a href="#" class="fa fa-youtube" target="_blank"></a>
  <span>Email us: </span>
  <a href="mailto:vermavivek0402@gmail.com" class="fa fa-" target="_blank">&#9993;</a>
</div>
<div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-3" id="logo">
        <h1>M-Tracker</h1>
      </div>
      <div class="col-4">
        <nav>
          <ul class="nav justify-content-end">
            <li class="nav-item"><a class="nav-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" routerLink="/dashboard/{{adminId}}/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" routerLink="/dashboard/{{adminId}}/home/lists">Users Lists</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" routerLink="/dashboard/{{adminId}}/home/create">Create User</a></li>
            <li class="nav-item"><a class="nav-link" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" routerLink="/dashboard/{{adminId}}/home/manage">Manage Users</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <form [formGroup]="searchUserForm" (ngSubmit)="searchUserByName()">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search users..." formControlName="fname" name="fname">
            <i class="material-icons" (click)="searchUserByName()">person_search</i>
            <!-- <button type="submit" class="btn btn-primary">Search</button> -->
          </div>
        </form>
      </div>
      <div class="col">
        <div class="dropdown" data-bs-theme="dark" [class.show]="isDropdownOpen" style="position: relative; display: inline-block;">
          <button class="btn btn-secondary dropdown-toggle" type="button" (click)="toggleDropdown()">
            <span id="fname">{{ adminName?.charAt(0) }}{{ adminName?.split(' ')[1]?.charAt(0) }}</span>  <!-- Add optional chaining to prevent errors -->
          </button>
          <ul class="dropdown-menu" [class.show]="isDropdownOpen" aria-labelledby="dropdownMenuButtonDark">
            <li><a class="dropdown-item" routerLink="/dashboard/{{adminId}}/home/me">{{adminName}} (Admin) <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="dashboard"></mat-icon>
            </a></li>
            <li><a class="dropdown-item" [routerLink]="['/auth/forgot']">Change Password<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="key"></mat-icon>
            </a></li>
            <li><a class="dropdown-item" routerLink="/auth/login" id="demo">Logout <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon></a></li>
            <li><hr class="dropdown-divider"></li>
            <li id="btn">Light<mat-slide-toggle (click)="toggleTheme()"></mat-slide-toggle>Dark</li>
          </ul>
        </div>
      </div>
    </div>
</div>