<app-header></app-header>
<div class="container-fluid">
  <h2>M-Tracker -> Home -> Manage Users</h2>
  <hr>
  <h2>Manage All Users</h2>
  <div class="row-2">
    <div class="col">
      <mat-card>
        <table class="table">
          <thead>
            <tr>
              <th [ngClass]="my_th" scope="col">S.No.</th>
              <th [ngClass]="my_th" scope="col">Name</th>
              <th [ngClass]="my_th" scope="col">Email</th>
              <th [ngClass]="my_th" scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users; let i = index;">
              <th [ngClass]="my_th" scope="row">{{i+1}}</th>
              <td [ngClass]="my_td">{{user.name}}</td>
              <td [ngClass]="my_td">{{user.email}}</td>
              <td>
                  <a [ngClass]="myLink" [routerLink]="['/dashboard/', adminId, 'home', 'view', user.id]" class="btn btn-primary">
                    <mat-icon aria-hidden="false" fontIcon="preview"></mat-icon>
                  </a>
                  <a [ngClass]="myLink" [routerLink]="['/dashboard/', adminId, 'home', 'edit', user.id]" class="btn btn-info">
                    <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
                  </a>
                  <a [ngClass]="myLink" (click)="delete(user.id)" class="btn btn-danger">
                    <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
                  </a>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card><br>
      <div [ngStyle] = "{'color': isSuccess ? 'green' : 'red'}" class="bottom-message alert alert-info text-center" role="alert" *ngIf="message">
        {{message}}
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>