.footer-bg {
  background: linear-gradient(to right, #007bff, #6610f2);
  font-family: 'Segoe UI', sans-serif;
  border-top: 4px solid #0d6efd;
}

.footer-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.footer-divider {
  width: 120px;
  height: 2px;
  background-color: #ffffff;
  border: none;
}

footer p,
footer h5 {
  color: #f1f1f1;
}
